.DS_Store

_application/cache/*
!_application/cache/index.html
!_application/cache/.htaccess

_application/ci_session/*
!_application/ci_session/index.html

_application/logs/*
!_application/logs/index.html
!_application/logs/.htaccess

composer.lock

_application/config/database.php

/vendor/

# IDE Files
#-------------------------
nbproject/*
/nbproject/
.idea/*
_application/libraries/phpexcel/nbproject

assets/images/administrator/*
assets/import/*
assets/images/member/member_id/*
assets/images/member/member_photo/*
assets/images/member/member_signature/*
assets/images/cache/*
assets/file_survey/*

!assets/images/member/member_id/index.html
!assets/images/member/member_photo/index.html
!assets/images/member/member_signature/index.html

!assets/images/administrator/_default.png
!assets/images/administrator/index.html
!assets/images/icon/*
!assets/images/captcha/*
!assets/import/index.html
!assets/file_survey/index.html
!assets/index.html

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

## VSCode
.vscode/*
./vscode/
